@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

// Font //
$Principal-font: "Raleway", sans-serif;

// Colors //
$Blue-200: hsl(243, 100%, 93%);
$Grayish-Blue: hsl(229, 7%, 55%);
$Blue-850: hsl(228, 56%, 26%);
$Blue-950: hsl(229, 57%, 11%);

// Bar Color //
$Blue-bg-bar: rgb(20,31,79);
$White: white;

// Gradient Colors //
$Fisrt-color: hsl(6, 100%, 80%);
$Second-color: hsl(335, 100%, 65%);
